<!DOCTYPE html>
<html>
<head>
    <title>Matching Game</title>
</head>
<body>
    <h2>Matching Game</h2>
    <h3>(Mixed Up Name & Number Combinations Below</h3>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
        {% for name, number in data %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ number }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Guess The Correct Name to The Corresponding Number</h2>
    <form method="POST" action="/check-guess">
        <label for="guess_name">Name:</label><br>
        <input type="text" id="guess_name" name="guess_name" required><br>
        <label for="guess_number">Number:</label><br>
        <input type="text" id="guess_number" name="guess_number" required><br><br>
        <input type="submit" value="Submit Guess">
    </form>
</body>
</html>
